.background{
    background: linear-gradient(90deg, rgb(255, 101, 0)0%, rgb(255, 166, 0)50%);
}
.ship{
    font-size: 35px;
    margin-top: 5px;
    text-align: center;
    color: #000;
}
.logo{
    font-size: 30px;
}
.logo-link{
    text-decoration: none;
    color: #000;
}
.cart{
    font-size: 30px;
    align-items: right;
}
.badge{
    font-size: 10px;
    left: -15px;
    top: 1px;
}
.btn{
    padding: 6px 0;
    text-align: end;
}
.user{
    font-size: 30px;
    padding: 6px 0;
    text-align: center;
    cursor: pointer;
}
.user:active{
    color: #eee;
    cursor: pointer;
}
.btn:active{
    color: #eee;
}

