<div class="wrapper background ">
    <div class="container ">
        <div class="row">
            <div class="col-md-10 col-6">
                <div class="navbar-brand align-item-center d-flex">
                    <a href="" class="logo-link">
                    <i class="fas fa-shipping-fast ship"></i>
                    <strong class="logo">FoodOrder</strong>
                </a>
                </div>
            </div>
            <div class="col-md-1 col-4 btn">
                <span routerLink="order-page" class="btn">
                    <i  class="fas fa-cart-plus cart"></i>
                    <!-- <i class="badge bg-danger">{{totalItem}}</i> -->
                </span>
            </div>
            <div class="col-md-1 col-2 user">
                <i class="fa fa-user-circle-o " routerLink="login" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>
