<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-auto col-12">
            <div class="card">
                <div class="text-center">
                    <h1>Sign Up</h1>
                </div>
                <form>
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Full Name</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Mobile Number</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                          </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <div id="emailHelp" class=" text-muted">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        
                        <button type="submit" class="btn btn-dark submit mb-2">Sign Up</button>
                      </form>
                      <a style="color: black;" routerLink="/login" class="login">Already register? Click to login!</a>
                </form>
            </div>
        </div>
    </div>
</div>
