<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-auto col-12">
            <div class="card">
                <div class="text-center">
                    <i class="fa fa-lock lock" aria-hidden="true"></i>
                    <h1>Login</h1>
                    <h6 >Please enter email & password!!</h6>
                </div>
                <form>
                    <form>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <div id="emailHelp" class=" text-muted">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <button type="submit" class="btn btn-dark mb-2 submit">Login</button>
                      </form>
                      <a style="color: black;" class="signup mb-3">Forgot Password!</a><br>
                      <a style="color: black;" routerLink="/signin" class="signup">New user? Click to signup!</a>
                </form>
            </div>
        </div>
    </div>
</div>